* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes inputAnimation {

  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes todoAnimation {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: linear-gradient(
    to left,
    rgb(59, 189, 182),
    rgb(207, 174, 239)
  );
}

.container {
  width: 95%;
  margin: auto;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 25px 0;
}

.nav h1 {
  font-size: 3rem;
}

.userInput {
  width: 550px;
  text-align: center;
}

.userInput input {
  font-size: larger;
  margin: 25px 0;
  width: 80%;
  outline: none;
  padding: 8px;
  border: 3px solid rgb(255, 118, 65);
  border-radius: 55px;
  animation: inputAnimation 1s ease-in-out;
}



.userInput input:focus {
  background-color: lightblue;
  border-color: rgb(231, 106, 29);
}
.userInput button {
  font-size: larger;
  cursor: pointer;
  padding: 8px;
  width: fit-content;
  transition: 0.5s;
  outline: none;
  background-color: deepskyblue;
  border: 3px solid rgb(84, 84, 255);
  border-radius: 55px;
  animation: inputAnimation 1s ease-in-out;
}

.userInput button:hover {
  background-color: rgb(120, 194, 255);
}

.userInput button:active {
  background-color: rgb(0, 140, 255);
}

.todoList {
  width: 500px;
  margin: auto;
}

.todo {
  border: 1px solid lightgray;
  background-color: azure;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border-radius: 2px;
  padding: 16px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  font-size: 2rem;
  animation: todoAnimation 1s;
}

.todo:hover {
  box-shadow: 0 0 20px lightcyan;
}

.todo i {
  cursor: pointer;
  margin: 0 5px;
}

.todo.completed {
  text-decoration: line-through;
}

@media (max-width: 650px) {
  .nav {
    align-items: center;
    flex-direction: column;
  }

  .nav h1 {
    margin: 10px 0;
  }

  .userInput {
    width: 90%;
  }

  .todo{
    width: 70%;
    align-items: center;
  }
}

/* weather */

.card{
    color: black;
    width: 70%;
    max-width: 470px;
    background-image: linear-gradient(to left, rgb(36, 150, 78), rgb(195, 230, 208));
    margin: 100px auto 0;
    padding: 40px;
    text-align: center;
    border-radius: 55px;
}

.search{
    border-radius: 34px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    background-color: azure;
    border-radius: 34px;
    color: black;
    font-size: 20px;
    height: 45px;
    flex:1;
    margin-right: 10px;
}

.search button{
    border-radius: 34px;
    cursor: pointer;
    width: 55px;
    height: 55px;
}

.search button img{
    width: 30px;
}

.weatherIcon{
    width: 150px;
    margin-top: auto;
}

.weather h1{
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold;
}
.weather h2{
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold;
    margin-bottom: 20px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.col img{
    margin-bottom: 10px;
    width: 60px;
}

.humidity, .wind{
    font-size: 30px;
    font-weight: bold;
}

.weather{
    display: none;
}